In [1]:
def read_query(f):
    query = ''
    with open(f,'r+') as file_query:
        lines = file_query.readlines()
        for line in lines:
            query += line.strip()+' '
    return query

In [4]:
import warnings
warnings.filterwarnings("ignore")
from google.cloud import bigquery
import os, sys
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = "/Users/temporaryadmin/.config/gcloud/legacy_credentials/borja.freire@deliveryhero.com/adc.json"
os.environ['GOOGLE_CLOUD_PROJECT'] = "logistics-data-staging-flat"
bq_client = bigquery.Client()
#client = bigquery.Client(credentials=credentials, project=credentials.project_id)
query = read_query('big_query_queries/points_rides.sql')
df_bq = bq_client.query(query).result().to_dataframe()
print(df_bq.shape)
df_bq.head()

(1000000, 6)

,rider_id,order_id,created_at,lat,lon,accuracy
0,44970,45225552,2022-06-01 08:54:54+00:00,25.247760,51.559806,3.79
1,44970,45225552,2022-06-01 08:55:13+00:00,25.248148,51.559912,3.79
2,44970,45225552,2022-06-01 08:55:42+00:00,25.248775,51.559522,3.79
3,44970,45225552,2022-06-01 08:56:14+00:00,25.249147,51.559274,3.79
4,44970,45225552,2022-06-01 08:56:45+00:00,25.249972,51.560379,3.79